.DatePicker_dateListScrollable__10YMf {
  margin-left: 0.5rem !important;
}

.DatePicker_button__2M4aC {
  display: none !important;
}

.DatePicker_daysContainer__2fhY9 {
  margin-left: 0px !important;
}

.DatePicker_dateLabel__GO7dX {
  font-size: 12px;
}
